<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Spring的核心容器
beans：管理所有的javabean
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 全包扫描
	base-package:扫描该包及其子包
	 -->
	<context:component-scan base-package="com.turing.spring03"></context:component-scan>
	
	
</beans>